* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    background-color: #6f4baf;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2rem;
    margin: 5rem;
    width: 100%;
    max-width: 350px;
    line-height: 1;
}

.logo {
    width: 150px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 30px 5px;
}

.input-group input {
    background-color: #9476c0;
    color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    outline: none;
    border: none;
}

button {
    background-color: #4fe3c1;
    color: white;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #4fe3c1;
    outline: none;
}

button:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
}

.forgot-password {
    text-align: right;
    line-height: 0;
}

.forgot-password a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
}


.forgot-password a:hover {
    text-decoration: underline;
}

.register-link {
    text-align: start;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.register-link a {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.register-link a:hover {
    text-decoration: underline;
    color: blue;
    outline: none;
}

::placeholder {
    color: #fff;
    font-size: 13px;
}

.error {
    font-size: 13px;
    color: red;
    text-align: start;
    margin-top: 5px;
}

/*Forgot Password*/

.forgotPassword {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 5rem;
    text-align: start;
}

.forgotPassword h1 {
    margin-bottom: 40px;
    font-weight: 700;
}

.password-para {
    font-size: 13px;
}

.forgotPassword input {
    padding: 6px 0;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid;
    width: 100%;
    max-width: 390px;
}

.password {
    border-radius: 30px;
    border: 2px solid;
    width: 100%;
}

.forgotPassword label {
    font-weight: 700;
}

.register-link-password {
    color: #0056b3;
    margin-top: 10px;
    font-size: 12px;
    text-align: end;
    margin-right: 1rem;
}

/*Media Queries for Responsive Design*/

/* Mobile View */
@media (max-width: 600px) {
    .input-group {
        padding: 16px;
    }

    .logo {
        width: 100px;
    }

    .button {
        padding: 12px;
        font-size: 16px;
    }
}


/* Desktop View */
@media (min-width: 758px) {
    #login-container {
        width: 100%;
        max-width: 500px;
        padding: 1rem;
        margin: 1rem;
    }

    .input-group {
        padding: 30px;
    }

    .logo {
        width: 200px;
    }

    .input-group input {
        font-size: 18px;
    }

    .button {
        padding: 14px;
        font-size: 18px;
    }
}